.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #090D1F solid;
    padding: 0 5%;
    .nav{
        display: flex;
        flex-direction: row;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin: 10px 5px ;
        a{
            text-decoration: none;
            color: black;
            padding: 5px;
        &:hover ,&.active{
        color: #7F56D9;
    }}
        }
    .btn{
        color: white;
        background-color:#7F56D9 ;
        border-radius: 8px;
        height: 35px;
        width: 120px;
        border: 1px;
    }
}